<header>
    <a href="../html/index.html" id="logo-img"><img src="../images/logoImg.png"></a>
    <a href="../html/index.html" id="logo-text"><img src="../images/logoText.png"></a>
    <a href="#" id="menu-button"><img src="../images/menu-button.svg"></a>
    <div id="search">
        <form>
            <button id="search-button" type="button"></button>
            <input type="text" id="search-box" placeholder="search...">
            <button id="reset-button" type="reset"></button>
        </form>
    </div>
    <a href="#" id="noticeButton"><img src="../images/notify.svg"></a>
    <!-- <div id="noticeBox"></div> -->


    <a href="login" id="loginButton"><img src="../images/login.svg"></a>
</header>