<div id="menu">
    <div class="menu-content">
        <div class="menu-content-icon" id="dashboard"><img src="../images/DashBoard.svg"></div>
        <p class="menu-content-text"><a href="home">Dashboard</a></p>
    </div>
    <div class="menu-content">
        <div class="menu-content-icon" id="recipe"><img src="../images/recipe.svg"></div>
        <p class="menu-content-text"><a href="recipes">Recipe</a></p>
    </div>
    <div class="menu-content">
        <div class="menu-content-icon" id="myIngredients"><img src="../images/ingredients.svg"></div>
        <p class="menu-content-text"><a href="ingredients">My ingredients</a></p>
    </div>
    <div class="menu-content">
        <div class="menu-content-icon" id="community"><img src="../images/community.svg"></div>
        <p class="menu-content-text"><a href="community">Community</a></p>
    </div>
    <div class="menu-content">
        <div class="menu-content-icon" id="customer"><img src="../images/customerService.svg"></div>
        <p class="menu-content-text"><a href="customer">Customer</a></p>
    </div>
    <!-- <div id="settingContainer" class="menu-content">
        <div class="menu-content-icon" id="Setting"><img src="../images/setting.svg"></div>
        <p class="menu-content-text"><a href="#">Setting</a></p>
    </div> -->
</div>