<!DOCTYPE html>
<html lang="en">
<head>
    {{>common/commonHead}}
    <link href="../css/community.css" rel="stylesheet">
    <title>Zero Table - community</title>
</head>
<body>
    {{>common/header}}
    <main>
        {{>common/menu}}
        <article class="commonContent">
            <div id="communityPage">

                <!--버튼-->
                <div id="communityPageSelect">
                    <button id="notiButton" onclick="changeContainer('noti')">공지사항</button>
                    <button id="freeButton" onclick="changeContainer('free')">자유</button>
                    <button id="reciButton" onclick="changeContainer('reci')">레시피</button>
                </div>

                <!--공지사항 테이블-->
                <section id="notiContainer">
                    <div class="postLine"></div>
                </section>



                <section id="freeContainer" style="display: none;">

                </section>


                <section id="recipeContainer" style="display: none;">

                </section>








            </div>
        </article>
    </main>

    <script src="../javaScript/main.js"></script>
    <script src="../javaScript/community.js"></script>
</body>
</html>