<!DOCTYPE html>
<html lang="en">
<head>
    {{>common/commonHead}}
    <link href="../css/home.css" rel="stylesheet">
    <title>Zero Table - home</title>
</head>
<body>
    {{>common/header}}
    <main>
        {{>common/menu}}
        <article class="commonContent">
            <div id="homePage">
                <item id="homeitem1"></item>
                <item id="homeitem2"></item>
                <item id="homeitem3"></item>
                <item id="homeitem4"></item>
                <item id="homeitem5"></item>
            </div>
        </article>
    </main>

    <script src="../javaScript/main.js"></script>
</body>
</html>