<!DOCTYPE html>
<html lang="en">
<head>
    {{>common/commonHead}}
    <link href="../css/login.css" rel="stylesheet">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>Zero Table - login</title>
</head>
<body>
    {{>common/header}}
    <main>
        {{>common/menu}}
        <article class="commonContent">
            <div id="loginPage">
                <div id="loginPageSelect">
                    <button id="goToLoginButton" onclick="changeContainer(event, 'login')">로그인</button>
                    <button id="goToJoinButton" onclick="changeContainer(event, 'join')">회원가입</button>
                </div>
                <div class="container containerActive" id="login">
                    <h1 id="loginTitle">로그인</h1>
                    <div id="naver_id_login" style="text-align: center; margin-top: 20px;"></div>
                    <div class="form-container" id="loginForm">
                        <form>
                            <label>이메일</label>
                            <input class="loginInputBox" id="loginEmailBox" type="text">
                            <label>패스워드</label>
                            <input class="loginInputBox" id="loginPasswordBox" type="text">
                            <label id="checkBoxLabel">
                                <input id="rememberCheckBox" type="checkbox">
                                <img id="checkCustom">
                            </label>
                            <span>아이디 저장</span><a id="goToFindButton" href="#">비밀번호 찾기</a>
                            <button id="loginSubmit">로그인</button>
                        </form>
                    </div>

                </div>
                <div class="container containerNone" id="join">
                    <h1 id="joinTitle">회원가입</h1>
                    <div class="form-container" id="joinForm">
                        <form>
                            <label>이름</label>
                            <input class="joinInputBox" id="joinNameBox" type="text">
                            <label>이메일</label>
                            <input class="joinInputBox" id="joinEmailBox" type="text">
                            <p class="joinCheck">중복 메시지</p>
                            <label>패스워드</label>
                            <input class="joinInputBox" id="joinPasswordBox" type="text">
                            <input class="joinInputBox" id="joinPasswordCheckBox" type="text">
                            <p class="joinCheck">불일치 메시지</p>
                            <button id="joinSubmit">가입</button>
                        </form>
                    </div>

                </div>
                <div class="container containerNone" id="find">
                    <h1 id="findTitle">비밀번호 찾기</h1>
                    <div class="form-container" id="findForm">
                        <form>
                            <label>이메일</label>
                            <input class="findInputBox" id="findEmailBox" type="text">
                            <button id="findSubmit">찾기</button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <script src="../javaScript/main.js"></script>
    <script src="../javaScript/login.js"></script>

    <script type="text/javascript">
        var naver_id_login = new naver_id_login("qo8RpqcXjI3u8aV70FWv", "http://localhost:8080/home");
        var state = naver_id_login.getUniqState();
        naver_id_login.setButton("white", 2,50);
        naver_id_login.setDomain("localhost:8080");
        naver_id_login.setState(state);
        naver_id_login.setPopup();
        naver_id_login.init_naver_id_login();
    </script>
</body>
</html>